<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>467105409973-kckl4auh5hs0r9qifke0eu3r05morrri.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.467105409973-kckl4auh5hs0r9qifke0eu3r05morrri</string>
	<key>API_KEY</key>
	<string>AIzaSyDd8OXqkPJY1Eji3D9OErw10gFnxwBv4uM</string>
	<key>GCM_SENDER_ID</key>
	<string>467105409973</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.healthHelper</string>
	<key>PROJECT_ID</key>
	<string>health-helper-f47cd</string>
	<key>STORAGE_BUCKET</key>
	<string>health-helper-f47cd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:467105409973:ios:fda07211322581da8d47fc</string>
</dict>
</plist>